html {
    overflow-x: hidden;
}

body {
    background-color: #E3AEFF;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: black;
}

/* scroll top*/
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 999;
}

.fa-regular {
  width: 50px;
  height: 50px;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}

/* Preloader */
#preloader{
  background-color: #E3AEFF;
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  z-index: 99999999999999999;
}

.preloader-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px;
  background-color: mediumpurple;
  animation: load 1s ease-in-out infinite;
}

.circle:nth-child(2){
  animation-delay: 0.1s;
}

.circle:nth-child(3){
  animation-delay: 0.2s;
}

@keyframes load {
  0% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-12px)
  }

  40% {
    transform: translateY(0)
  }
  
}

/* navbar */

.navbar {
    background: #D48FF9;
    color: #272932;
}

.navbar-brand {
    color: rgb(20, 18, 18) !important;
}

.nav-item a {
    font-size: 1.1rem;
    margin-left: 15px;
    color: ghostwhite;
}

.nav-item a:hover {
    opacity: 0.5;
}

/* End */

/* Jumbotron */

.jumbotron {
    margin-top: 100px;
    height: 80vh;
}

.jumbotron h1 {
    font-weight: 700;
    font-weight: bold;
    margin-top: 10px;
}

.jumbotron h4,
.jumbotron p {
    color: #EDEDED;
}

.jumbotron p {
    font-size: 1.2rem;
}

.jumbotron .btn {
    padding: 10px 10px;
    border-radius: 10px;
}
/*
.jumbotron .btn i {
    margin-left: 7px;
}

.jumbotron .btn:hover {
    background-color: rgb(107, 90, 210);
    border: 1px solid #272932;
}
*/
.jumbotron img {
    width: 500px;
    margin-left: 30px;
    margin-top: -40px;
    border-radius: 75% 25% 45% 55% / 51% 59% 41% 49%;
}

.jumbotron ul {
    display: flex;
    margin-left: -35px;
    list-style: none;
    margin-top: -80px;
}

.jumbotron ul li {
    margin-left: 15px;
    font-size: 1.2rem;
}

.facebook {
    color: #002AA2;
}

.youtube {
    color: #FF0000;
}

.instagram {
    color: #F27E10;
}

.email {
    color: #16D214;
}
/* end */
/* team */
.team{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: -1300px;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 2rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: #1b1229;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}
/* end */

/* MOBILE VERSION */
@media only screen and (max-width: 550px) {
  .team {
    margin-top: 15px;
  }
  .jumbotron img {
    width: 300px;
    margin-left: -5px;
  }

  .jumbotron {
    margin-top: -1px;
  }

  /* button login */
    .purple {
        margin-left: auto;
        width: 300px;
        margin-top: 5px;
        background: #89CDFF;
        text-transform: uppercase;
    }

    .purple:hover {
        background: #B4DFFF;
    }
}
/* END */

@media (min-width: 992px) {
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid white;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .logo {
        margin-left: -50px;
    }
    
    /* button login */
    .purple {
        background: none;
        color: black;
        text-transform: uppercase;
        border: 2px solid #89CDFF;
    }

    .purple:hover {
        color: white;
        background: #89CDFF;
    }
}

.verticle-line {
  margin-top: -150px;
  width: 2px;
  height: 340px;
  background: white;
  transform: rotate(90deg);
}